{% extends "layouts/base.html" %}
{% load static %}

{% block content %}

<main>
  <div class="px-4 pt-6">
    <!-- Contenedor del mapa -->
    <div class="flex justify-center items-center">
        <!-- Ajuste del mapa con máximo ancho y alto -->
        <div class="w-full sm:w-[75vw] h-[75vh] max-w-[1160px] max-h-[696px] mx-auto">
            {{ mapa | safe }}
        </div>
    </div>
  </div>
</main>

{% endblock content %}
{% block extra_js %}
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    // Bugg desactivado: el logo no aparecía
    function toggleLogo() {
      const logoLight = document.getElementById('logo-light');
      const logoDark = document.getElementById('logo-dark');
      if (document.documentElement.classList.contains('dark')) {
        logoDark.style.display = 'block';  // Muestra el logo oscuro
        logoLight.style.display = 'none';  // Oculta el logo claro
      } else {
        logoLight.style.display = 'block'; // Muestra el logo claro
        logoDark.style.display = 'none';   // Oculta el logo oscuro
      }
    }
  
    // Llama a la función al cargar la página
    toggleLogo();
  
    // Observa cambios en el modo claro/oscuro
    const observer = new MutationObserver(toggleLogo);
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ['class']
    });
  });
</script>
{% endblock %}